
<div class="container" id="wrap">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
                  <h4>It's free and always will be.</h4>
                  <div class="row">
                      <div class="col-xs-6 col-md-6">
                          <input type="text" class="form-control input-lg" placeholder="First Name" [(ngModel)]="firstname" />                        </div>
                      <div class="col-xs-6 col-md-6">
                          <input type="text" class="form-control input-lg" placeholder="Last Name"   [(ngModel)]="lastname" />                        </div>
                  </div>
                 
                  <input [(ngModel)]="email"   type="text"  class="form-control input-lg" placeholder="Your Email"  />
                  <input  [(ngModel)]="password" type="password" class="form-control input-lg" placeholder="Password"  />
                  <Select class="form-control" [(ngModel)]="country">
                    <option [value]="+91">India</option>
                    <option [value]="+1">US</option>

                </Select>
                <input  [(ngModel)]="mobile"  type="number" class="form-control input-lg" placeholder="Mobile.No"  />                                   <div class="row">
                                        </div>
                 

























                  
                  
                  <br />
        
                  <button (click)="signup()" class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                      Create my account</button>
                    
        </div>
</div>            


